/**
*	Main markup
*/

*{
	margin: 0;
	padding: 0;
}

body{
	overflow: hidden;
	box-sizing: border-box;
	background-color: #eee;
	font-family: monospace;
}

button{
	border: none;
}

button:focus {
    outline: none;
}

ul{
	list-style-type: none;
}

input {
	background-color: #eee;
	border-radius: 10px;
	width: 200px;
	height: 20px;
    cursor: text;
    border:none;
  	box-shadow:inset -3px -3px 9px #ffffff83,inset 3px 3px 7px rgba(94,104,121,0.688);
  	padding: 10px;
}

input:focus {
    outline:  none;
}

input:focus {
    outline-offset: none;
}

.columns-wrapper{
	display: grid;
	grid-template-columns: 5fr 1fr
}

.columns-wrapper-3{
	display: grid;
	grid-template-columns:repeat(3,1fr);
}

.columns-wrapper-4{
	display: grid;
	grid-template-columns:repeat(4,1fr);
}

.columns-wrapper-11{
	display: grid;
	grid-template-columns:repeat(11,1fr);
}

.rows-wrapper{
	display: grid;
	grid-template-rows:repeat(2,1fr);
}

.rows-wrapper-3{
	display: grid;
	grid-template-rows:repeat(3,1fr);
}

.rows-wrapper-5{
	display: grid;
	grid-template-rows:repeat(5,1fr);
}

.rows-wrapper-fullscreen{
	grid-template-rows: 25vh 75vh;
}


.center {
	align-self: center;
	justify-self: center;
	grid-gap: 10px;
}

.unrotate{
	transform: rotate(-45deg); 
	-moz-transform: rotate(-45deg);
}

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 2;
	cursor: pointer;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form{ 
	background-color: #eee; 
	border-radius: 20px;
	padding:30px;
	background: linear-gradient(145deg, #eee, #e6e6e6);
}

.form-elements {
	width: 200px;
	height: 100px;
}